html {
  font-size: 10px;
  background: url('lilybackgroundimage.jpg') bottom center;
  background-size: cover;
  opacity: 0.85;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: pink;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem magenta;
}

.playing {
  transform: scale(1.1);
  border-color: #e624af;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #e624af;
}

.pink{
  color: #ff5dcc;
  text-align: center;
  font-size: 94px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  font-stretch: extra-expanded;
  margin-top: 65px;
  text-emphasis:solid;
  text-emphasis-color: white;
  text-emphasis-style: bolder;
  text-emphasis-position: auto;
  text-shadow: #e624af;
  
  
}