html {
  font-size: 10px;
  background: url('lilybackgroundimage.jpg') bottom center;
  background-size: cover;
  opacity: 0.85;
}
h1{
  margin: 0px;
  text-shadow: #e624af;
  text-decoration-color: black;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: .5rem;
  font-size: 28px;
  transition: all .07s ease;
 padding: 1.4rem .5rem;
  width: 20rem;
  height: 14rem;
  text-align: center;
  color: pink;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem magenta;
  
}

.playing {
  transform: scale(1.1);
  border-color: #e624af;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 7rem;
  
}

.sound {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #e624af;
}

.pink{
  color: #ff5dcc;
  text-align: center;
  font-size: 175px;
  font-family: 'Kolker Brush', cursive;
  font-weight: 900;
  font-stretch: extra-expanded;
  text-emphasis:solid;
  text-emphasis-color: white;
  text-emphasis-style: bolder;
  text-emphasis-position: auto;
  text-shadow: #e624af;
  /* margin: 0;   */
  
}


/* Media breakpoints */
@media (max-width: 1024px) { 
  .keys{
  font-size: 10px;
  }
  .key{
    width: 8rem;
  height: 14rem;
  padding: 1.1rem .8rem;
  }
  .sound{
    font-size: 1.8rem;
  }
}

@media (max-width: 912px) {
  .keys{
    align-items: flex-end;
    justify-content: flex-end;
  }
 
}






/* End of Media breakpoints */